.game-button {
  padding: 0.1rem 0.3rem;
  font-size: 0.5rem;
  background: #d45d45;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  border: 1px solid #da8170;
  box-shadow: 0 3px 0 #da8170;
  outline: none;
  transition: 150ms ease-out;
  cursor: pointer;
  font-weight: bold;
}

.game-button:active {
  transform: translateY(3px);
  box-shadow: 0 0px 0 #1b6fb8;
}

.normal-button {
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  background: #d45d45;
  color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  border: 1px solid #da8170;
  box-shadow: 0 3px 0 #da8170;
  outline: none;
  transition: 150ms ease-out;
  cursor: pointer;
  font-weight: bold;
}

.normal-button:active {
  transform: translateY(3px);
  box-shadow: 0 0px 0 #1b6fb8;
}
